@media (min-width: 1000px) {
  #Navbar .dropdown-menu {
    display: none !important;
  }

  #Navbar .dropdown:hover .dropdown-menu {
    display: block !important;
  }
}

#Navbar .nav-link.active {
  font-weight: bolder !important;
}

#Navbar .dropdown-menu a:hover{
  background: #ED4AC0;
  color: black;
}

#Navbar a.dropdown-item.active{
  background: #ED4AC0;
  color: black;
  font-weight: bolder;
}

#Navbar{
  color: black !important;
}

/* 
  navbar - #ED4AC0
  text - #B6288E
  hover - #F292D7
  button - #CB41A4
*/
